#contain1
  {
	background-color: #ffffff;
	margin-top:200px;
	margin-right:100px;
	margin-left: 100px;
	box-shadow:0 5px 15px;
  } 
  .card-horizontal{
    display:flex;
   flex: 1 1 auto;
   }

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}